body{
margin: 0;
}
.phone-holder{
  margin: 50px 0 0 200px;
  width: 454px;
  height: 618px;
  background-image: url(images/iPhone.png);

}

/* Demo 1 */

#cf3 {
  position:relative;
  height:281px;
  width:454px;
  margin:0 auto;
}
#cf3 img {
  position:absolute;
  right:64px;
  top: 100px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf3 img.transparent {
opacity:0;
}

/* Demo 2 */

@keyframes FadeInOut{
0%{
  opacity: 1;
  }
17%{
  opacity: 1;
}
25%{
  opacity: 0;
}
92%{
  opacity: 0;
}
100%{
  opacity: 0;
}
}

#cf3 img.top {
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
  }

#cf3 img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf3 img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf3 img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf3 img:nth-of-type(4) {
  animation-delay: 0s;
}