body {
  margin: 0;
  background-color: rgb(233, 233, 231);
}

/* iPhone Section */

.top-section {
  display: flex;
  flex-direction: row;
}

.top-left {
  width: 640px;
}

.phone-holder {
  margin: 50px 0 0 200px;
  width: 454px;
  height: 618px;
  background-image: url(images/iPhone.png);
}

/* Demo 1 */

#cf3 {
  position: relative;
  height: 281px;
  width: 454px;
  margin: 0 auto;
}
#cf3 img {
  position: absolute;
  right: 64px;
  top: 100px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf3 img.transparent {
  opacity: 0;
}

/* Demo 2 */

@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#cf3 img.top {
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
}

#cf3 img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf3 img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf3 img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf3 img:nth-of-type(4) {
  animation-delay: 0s;
}

/* Login Section */

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgba(199, 198, 198, 0.644);
  margin: 80px 0 0 20px;
  width: 350px;
  height: 380px;
  background-color: white;
}

.logo-holder{
  margin: 30px 0 20px 25%;
  background-image: url(images/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -130px;
  width: 175px;
  height: 51px;
  border: 1px solid black;
}

#userName{
  background-color: rgb(179, 177, 177);
  border: 1px solid rgba(209, 208, 208, 0.616);
  margin-bottom: 20px;
  width: 250px;
  height: 30px;
}

#pword{
  height: 30px;
  width: 186px;
  padding: 0 0 0 20px;
  border: none;
  outline: none;
  font-size: 13px;
}

.pass{
  margin: 0 46px;
  border: 1px solid rgba(190, 190, 190, 0.5);
  border-radius: 3px;
}

#hideShow{
height: 30px;
width: 50px;
border: none;
outline: none;
}