body {
  margin: 0;
  background-color: rgb(233, 233, 231);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

li{
  list-style: none;
  margin-right: 10px;
}

/* iPhone Section */

.top-section {
  display: flex;
  flex-direction: row;
}

.top-left {
  width: 640px;
}

.phone-holder {
  margin: 50px 0 0 200px;
  width: 454px;
  height: 618px;
  background-image: url(images/iPhone.png);
}

/* Demo 1 */

#cf3 {
  position: relative;
  height: 281px;
  width: 454px;
  margin: 0 auto;
}
#cf3 img {
  position: absolute;
  right: 64px;
  top: 100px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf3 img.transparent {
  opacity: 0;
}

/* Demo 2 */

@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#cf3 img.top {
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
}

#cf3 img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf3 img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf3 img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf3 img:nth-of-type(4) {
  animation-delay: 0s;
}

/* Login Section */

.login {
  border: 1px solid rgba(165, 164, 164, 0.644);
  margin: 80px 0 20px 20px;
  width: 350px;
  background-color: white;
}

.logo-holder{
  margin: 30px 0 20px 25%;
  background-image: url(images/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -130px;
  width: 175px;
  height: 51px;
}

.username-input, .password-input{
  position: relative;
  margin: 0 46px 10px;
  width: 250px;
  height: 30px;
  outline: none;
  padding: 0;
}

.username-input input
{
  width: 100%;
  height: 100%;
  border: 1px solid rgba(199, 198, 198, 0.644);
  outline: none;
  border-radius: 3px;
}

#pword{
  height: 100%;
  width: 198px;
  outline: none;
  font-size: 13px;
  border: none;
  background: transparent;
}
.password-input{
  border: 1px solid silver;
  border-radius: 3px;
  width: 254px;
}

.username-input label,
.password-input label{
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: rgb(150, 150, 150);
  pointer-events: none;
}

.username-input label::after,
.password-input label::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
}

.content-name,
.pass-name{
  position: absolute;
  bottom: 5px;
  left: 5px;
  transition: all 0.3s ease;
}

.username-input input:valid + .user-name .content-name,
.password-input input:valid + .pass-word .pass-name{
  transform: translateY(-150%);
  font-size: 9px;
}


.pass{
  margin: 0 46px;
  border: 1px solid rgba(190, 190, 190, 0.5);
  border-radius: 3px;
}

#hideShow{
  position: absolute;
height: 30px;
width: 52px;
border: none;
border-radius: 0 3px 3px 0;
outline: none;
}

.login-btn{
  width: 256px;
  margin: 0 46px;
  height: 30px;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #0095f6
}

.disabled{
  background-color: powderblue;
  pointer-events: none;
}

.or-container{
  display: flex;
  margin: 20px 46px 0px 46px;
  justify-content: center;
}

.OR-space{
  margin-top: 10px;
  width: 107px;
  height: 20px;
  border-top: 1px solid silver;
}

.OR{
  margin: 0 10px;
  color: silver;
}

.fb{
margin: 20px 0;
text-align: center;
color: rgb(1, 37, 104);
}

.forgot{
  margin: 20px 0;
  font-size: 11px;
  text-align: center;
  color: rgb(1, 37, 104);
}

.no-acct{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgba(165, 164, 164, 0.644);
  margin: 0 0 20px 20px;
  width: 350px;
  height: 80px;
  background-color: white;
}

.no-acc{
  font-size: 14px;
  margin: 30px 5px 0 0 ;
}

.signUp{
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
  color: #0095f6;
}

.get-app{
  text-align: center;
  font-size: 14px;
}

.apps{
  width: 136px;
  height: auto;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 150px;
  font-size: 12px;
  color: gray;
}

ft1{
  height: ;
}